# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\xflajs00\CLionProjects\vitejte_postgresql_service\.idea/dataSources/
/dataSources.local.xml
